.box-container
  .card
    .social
      a.fab.fa-twitter(href='#')
      a.fab.fa-facebook(href='#')
      a.fab.fa-behance(href='#')
      a.fab.fa-dribbble(href='#')
      a.fab.fa-linkedin(href='#')
      a.fab.fa-github(href='#')
    .pic
      img(src='https://picsum.photos/200', alt='profile-picture', title='Someone Famous')
    .content
      h3.title David Erian
      span Web Developer
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.